
/* TESTIMONIES SECTION */

.testimonies-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 44rem;
    padding-top: 1rem;
}
.testimonies-section-div1 {
    width: 94%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.testimonies-section-div1 p {
    font-size: 22px;
    font-weight: 600;
}
.testimonies-section-div1 h5 {
    font-size: clamp(28px, 2vw + 0.55rem, 56px);
    line-height: 48px;
    width: 50%;
    text-align: center;
    font-weight: 600;
    opacity: 0.7;
}
.testimonies-section-div1 h5 i {
    color: var(--myBlueTurquoise);
    opacity: 1;
}


.testimonies-section-div2 {
    width: 94%;
    padding: 1rem .7rem;
    overflow-x: scroll;
    max-height: 62rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5.2vw;
    justify-content: center;
    align-items: center;
}
.testimony-div {
    flex: 1 0 18rem;
    height: 21rem;
    padding: 1rem 2rem 1.4rem;
    max-width: 26rem;
    min-width: 24rem;
    display: flex;
    box-shadow: 3px 3px 10px var(--myBlueTurquoise);
    backdrop-filter: blur(7px);
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
}
.testimony-div-p1 {
    width: 100%;
    height: 15%;
    display: flex;
}
.testimony-div-p1-star {
    height: 60%;
    width: 2rem;
}
.testimony-div-p1 :nth-child(3) {
    display: none;
    flex: 0;
}

.testimony-div-p2 {
    width: 100%;
    height: 48%;
    font-size: 1.12rem;
    overflow-y: scroll;
}
.testimony-div :nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.8rem;
}
.testimony-div :nth-child(3) img {
    width: 5.8rem;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.testimony-div-user {
    height: 100%;
    width: 68%;
    overflow: hidden;
    display: flex;
    margin-left: 1.8rem;
    flex-direction: column;
    justify-content: space-evenly;
}
.testimony-username {
    font-weight: 600;
    font-size: clamp(10px, 2vw + 0.85rem, 22px);;
}
.testimony-username, .testimony-description {
    width: 100%;
    text-wrap: wrap;
}

@media screen and (width < 992px) {
    .testimonies-section-div1, .testimonies-section-div2 {
        width: 96%;
    }
    .testimonies-section-div1 h5 {
        width: 80%;
    }

}

@media screen and (width < 768px) {
    .testimonies-section {
        height: 58rem;
        padding-top: 5rem;
    }
    .testimonies-section-div2 {
        flex-direction: column;
    }
    .testimony-div {
        min-width: 100%;
        max-height: 16rem;
    }
    .testimony-div-p2 {
        font-size: 16px;
    }
    .testimony-description {
        height: 40%;
    }
}