
/* HEADER */

.header {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    backdrop-filter: blur(8px);
    top: 0;
    transition: ease .4s;
    background-color: var(--myBlack);
    z-index: 1;
}
.header-scroll {
    background-color: var(--myBlack);
    width: 100%;
    height: 60px;
    border-bottom: solid 1px var(--myFontColor);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    transition: 0.4s;
    z-index: 1;
}
h1 {
    font-weight: 300;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: clamp(0.8rem, 2vw + 0.65rem, 1.6rem);
    background-color: transparent;
}
h1 a {
    height: 100%;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
}
h1 img {
    height: 100%;
    object-fit: contain;
    background-color: transparent;
}
h1 p, h1 span {
    color: var(--myLogoColor);
    transition: ease .3s;
}
h1 a:hover .span{
    color: var(--myTurquoise);
}

nav {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
nav a {
    text-decoration: none;
    transition: ease 0.3s;
    font-weight: 300;
    font-size: 18px;
}
nav a:hover {
    color: var(--myTurquoise);
}
.nav-btn {
    cursor: pointer;
    height: 100%;
    width: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 2.6rem;
    transition: ease .4s;
}


@media screen and (width < 992px) {
    .header, .header-scroll {
        display: flex;
        justify-content: space-between;
        transition: .4s ease;
    }
    h1 a {
        width: 100%;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 60%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        transition: ease 0.7s;
        transform: translateY(-90vh);
    }
    .responsive-nav {
        transform: none;
    }
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    .nav-close-btn {
        height: 3.6rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (width < 768px) {
    
}