/* Main CSS file */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --myLogoColor: #fefeff;
    --myFontColor: #fefeff;
    --myBlack: #000101;
    --myTurquoise: #61e5fe;
    --myBlueTurquoise: #45457E;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--myFontColor);
    background: var(--myBlack) 0px 0px / 100% 100% no-repeat;
}
::-webkit-scrollbar {
    background: var(--myBlack);
}
::-webkit-scrollbar-thumb {
    background: var(--myBlueTurquoise);
    border-radius: 5px;
}
